spring.application.name=events-management-backend
spring.datasource.url=jdbc:postgresql://localhost:5432/events
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.servlet.multipart.max-file-size=6MB
spring.servlet.multipart.max-request-size=6MB
cors.allowed-origins=http://localhost:3000
fivemanage.api.url=
fivemanage.api.token=